.dark-context-section-container {
  width: 20%;
  min-height: 786px;
  background-color: #181818;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .dark-context-section-container {
    display: none;
  }
}

.dark-context-name-container {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 10px;
  cursor: pointer;
}

.dark-context-icons {
  color: #cccccc;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.dark-context-name {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
}

.dark-active-icon {
  color: #ff0000;
}

.dark-active-tab {
  background-color: #424242;
  font-weight: 500;
}

.dark-contact-us-section {
  padding-left: 10px;
  padding-right: 10px;
}

.dark-contact-us-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
}

.dark-logos-container {
  display: flex;
  align-items: center;
}

.dark-contact-us-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.dark-message {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
}

.link-item {
  text-decoration: none;
}
