.dark-nav-header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #231f20;
  padding-left: 10px;
  padding-right: 50px;
  background-color: #181818;
}

@media screen and (max-width: 768px) {
  .dark-nav-header {
    flex-direction: column;
    align-items: center;
    border-bottom-style: none;
    padding-right: 10px;
  }
}

.dark-popup-content {
  background-color: #181818;
  width: 350px;
  min-height: 220px;
  flex-shrink: 1;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
}

.dark-logout-message {
  color: #f4f4f4;
  font-family: 'Roboto';
  font-size: 16px;
}

.dark-cancel-btn {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  padding: 8px 16px;
  color: #616e7c;
  background-color: transparent;
  border: 1px solid #616e7c;
  border-radius: 1px;
  margin-left: 14px;
  cursor: pointer;
  outline: none;
}

.dark-confirm-btn {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  padding: 8px 16px;
  background-color: #0967d2;
  color: #ffffff;
  border: none;
  border-radius: 1px;
  margin-left: 14px;
  cursor: pointer;
  outline: none;
}

.dark-nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1260px;
  padding-top: 25px;
  padding-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .dark-nav-content {
    flex-direction: column;
  }
}

.dark-nav-bar-mobile-logo-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .dark-nav-bar-mobile-logo-container {
    display: none;
  }
}

.dark-nav-bar-large-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1170px;
}

@media screen and (max-width: 767px) {
  .dark-nav-bar-large-container {
    display: none;
  }
}

.dark-website-logo {
  width: 110px;
}

@media screen and (min-width: 768px) {
  .dark-website-logo {
    width: 165px;
  }
}

.dark-nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-end;
  flex: 1;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .dark-nav-menu {
    display: none;
  }
}

.dark-nav-menu-mobile {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .dark-nav-menu-mobile {
    display: none;
  }
}

.dark-nav-menu-list-mobile {
  display: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: #e6f6ff;
  flex: 1;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.dark-nav-menu-item {
  font-family: 'Roboto';
  text-decoration: none;
  margin: 10px;
  font-weight: 400;
  font-size: 16px;
}

.dark-nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #475569;
}

.dark-nav-menu-item-mobile {
  margin: 0px;
  cursor: pointer;
}

.dark-logout-desktop-btn {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  padding: 8px 16px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  margin-left: 14px;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 767px) {
  .dark-logout-desktop-btn {
    display: none;
  }
}

.dark-nav-mobile-btn-container {
  display: flex;
  justify-content: center;
  width: 25%;
}

.dark-nav-mobile-btn {
  border: none;
  padding: 0px;
  background: transparent;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 768px) {
  .dark-nav-mobile-btn {
    display: none;
  }
}

.dark-profile-image {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 768px) {
  .dark-profile-image {
    display: none;
  }
}

.dark-theme-icon {
  margin-top: 5px;
  width: 30px;
  height: 30px;
  color: #ffffff;
}

.dark-icon-mobile {
  color: #ffffff;
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.dark-theme-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
